@charset "UTF-8";
/*----------------
  Global
  Layout
  Component
  Image
  Utility Container
  Block
  Slider
----------------*/
/*----------------
  Global
----------------*/
* {
  box-sizing: border-box;
  position: relative;
}

html, body {
  font-family: "Domine", serif;
}

h4, h5, h6, p, i, li {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*-----------------------------
  Layout
-----------------------------*/
.row:after {
  content: "";
  display: block;
  clear: both;
}
.row .col {
  float: left;
}

.col-1-3 {
  width: 33.3333%;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

.padding-rt-10px {
  padding-right: 10px;
}

.padding-lt-10px {
  padding-left: 10px;
}

/*-----------------------------
  Component
-----------------------------*/
.card {
  height: 250px;
  margin: 20px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.3);
}

button {
  width: 200px;
  background-color: #F2C453;
  border-radius: 20px;
  line-height: 40px;
  margin-top: 10px;
  border: none;
  transition: all 0.3s;
}
button:hover {
  background-color: #BF983F;
  cursor: pointer;
}

.bx {
  color: rgb(200, 200, 200);
  font-size: 25px;
}

.to-top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #F2C453;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  padding-top: 2px;
  padding-left: 2px;
  transition: all 0.3s;
}
.to-top-button:hover {
  background-color: #BF983F;
}
.to-top-button .bxs-arrow-to-top {
  color: white;
}

/*-----------------------------
  Image
-----------------------------*/
.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 25%;
  height: 250px;
  padding: 5px;
  overflow: hidden;
}

.imagebox-img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: all 1s;
}
.imagebox-img:hover {
  transform: scale(0.8);
}

/*-----------------------------
  Utility Container
-----------------------------*/
.container {
  width: 80%;
  margin: 0 auto;
}

.hero {
  padding: 50px 140px;
  height: 100vh;
  width: 100%;
}
.hero .info {
  text-align: center;
}
.hero .info .title {
  font-size: 32px;
}
.hero .info .title-shadow {
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 3px;
  color: #F2F3F3;
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}
.hero .info .des {
  margin-bottom: 30px;
}

/*-----------------------------
  Block
-----------------------------*/
.navbar {
  background-color: rgba(73, 73, 73, 0.8);
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  vertical-align: bottom;
  z-index: 1;
  padding: 10px;
}
.navbar .logo {
  flex: 1;
  color: white;
  font-weight: 800;
}
.navbar .nav-menu {
  flex: 8;
}
.navbar .nav-menu .nav-item {
  text-align: center;
}
.navbar .nav-menu .nav-item .nav-link {
  color: rgb(200, 200, 200);
  display: inline-block;
  margin: 0 10px;
  font-weight: 500;
  transition: all 0.3s;
}
.navbar .nav-menu .nav-item .nav-link:hover {
  color: #F2C453;
}
.navbar .social-icon {
  flex: 1;
}
.navbar .social-icon .social-item {
  float: left;
}
.navbar .social-icon .social-link {
  display: inline-block;
  transition: all 0.3s;
}
.navbar .social-icon .social-link:hover {
  color: #F2C453;
}

.jumbotron {
  height: 100vh;
  width: 100%;
  background-image: url(/img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
}
.jumbotron:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(73, 73, 73, 0.8);
}
.jumbotron .jum-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
  text-align: center;
}

.aboutMe .col-1-3 {
  padding: 0 20px;
}
.aboutMe i {
  text-wrap: nowrap;
}
.aboutMe li {
  line-height: 40px;
}
.aboutMe li:before {
  content: "＞ ";
  color: #F2C453;
  font-weight: 800;
}
.aboutMe .aboutMe-image-container {
  position: relative; /* 這讓圖片的定位相對於父層 */
  width: 100%; /* 父層容器的寬度占據可用寬度 */
  height: auto; /* 根據內容自動調整高度 */
}
.aboutMe .aboutMe-image-container .aboutMe-image {
  padding-top: 20px;
  width: 100%; /* 圖片寬度佔據父層容器的100% */
  height: auto; /* 高度自動根據寬度比例調整，保持圖片比例 */
  display: block; /* 確保圖片在父層內占據一行 */
  position: relative; /* 如果需要進一步定位，可以根據需要設定 */
}

.myResume .col {
  padding: 20px;
}
.myResume .col ul {
  list-style-type: disc;
}
.myResume .col li {
  margin-left: 20px;
  margin-bottom: 20px;
}
.myResume .col h3 {
  font-size: 25px;
}
.myResume .col h4 {
  font-size: 20px;
  font-weight: 400;
  font-family: "Domine", serif;
}
.myResume .col h5 {
  font-size: 15px;
  font-family: "Domine", serif;
  line-height: 1px;
  padding-left: 15px;
}
.myResume .col .resume-item {
  border-left: 3px solid #F2C453;
  padding-left: 25px;
}
.myResume .col .resume-item::before {
  content: "";
  color: #F2C453;
  width: 12px;
  height: 12px;
  background-color: white;
  border: 2px solid #F2C453;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: -10px;
}

.myServices .hero {
  height: 500px;
}
.myServices .card {
  padding: 20px 40px;
}
.myServices h4 {
  font-family: "Domine", serif;
  font-size: 20px;
}
.myServices .icon {
  margin-top: 20px;
}
.myServices .icon i {
  font-size: 40px;
  color: #F2C453;
}

.comment-item {
  height: 400px;
  text-align: center;
  padding: 50px 250px;
  background-image: url("/img/testimonials-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.comment-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.comment-item::before .comment-info {
  z-index: 1;
}
.comment-item img {
  border-radius: 50%;
}

.portfolio .navbar {
  background-color: rgba(73, 73, 73, 0.8);
  height: 50px;
  width: 85.5%;
  display: flex;
  align-items: center;
  position: absolute;
  margin-top: -50px;
  vertical-align: bottom;
  z-index: 1;
  padding: 10px;
}

.pricing-section1 .card {
  height: 480px;
  text-align: center;
  padding-top: 50px;
  border-radius: 5px;
}
.pricing-section1 .card h4 {
  position: absolute;
  top: 0px;
  left: 23%;
  /* TODO: 改用容器置中對齊方法:            
        css
          .button-container {
            display: flex;
            justify-content: center;  水平置中 
            align-items: center;  垂直置中（如果需要） 
          }
        html
          <div class="button-container">
          <button class="btn">按鈕</button>
          </div>            
  */
  padding: 0 50px;
  display: inline-block;
  line-height: 30px;
  background-color: #fdf5ce;
  border-radius: 20px;
  color: #f2bb2e;
  font-weight: 300;
}
.pricing-section1 .card p {
  font-weight: 400;
}
.pricing-section1 .card del {
  color: #c9c6c6;
}
.pricing-section1 .card .price {
  color: #c9c6c6;
}
.pricing-section1 .card .price span {
  color: #F2C453;
  font-size: 30px;
  font-weight: 700;
}
.pricing-section1 .card button {
  position: absolute;
  bottom: 40px;
  left: 25%;
  border: 2px solid #F2C453;
  transition: all 0.3s;
}
.pricing-section1 .card button:hover {
  background-color: white;
  color: #F2C453;
  border: 2px solid #F2C453;
  cursor: pointer;
}

.pricing-section2 {
  margin-top: 50px;
}
.pricing-section2 .col {
  padding: 0 25px;
}
.pricing-section2 .price-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px dashed #bab9b9;
}
.pricing-section2 h3 {
  flex: 1;
}
.pricing-section2 p {
  flex: 1;
  color: #F2C453;
  font-weight: 400;
  font-size: 20px;
  text-align: right;
}

.contact .hero {
  height: 1000px;
}
.contact .col-1-3 {
  text-align: center;
  margin-bottom: 30px;
}
.contact .col-1-3:nth-child(2) {
  border-left: 1px solid #c9c6c6;
  border-right: 1px solid #bab9b9;
}
.contact i {
  color: #F2C453;
  display: block;
  font-size: 60px;
  font-weight: 80;
  margin: 30px 0;
}
.contact .contact-form {
  padding: 30px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}
.contact .contact-form input {
  margin-bottom: 25px;
  padding: 5px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #bab9b9;
  border-radius: 5px;
}
.contact .contact-form #contact-form-message {
  width: 100%;
  padding: 5px;
  border: 1px solid #bab9b9;
  border-radius: 5px;
}

.footer {
  height: 250px;
  padding-top: 20px;
  width: 100%;
  background-color: #060606;
  text-align: center;
  color: white;
}
.footer .footer-item {
  display: inline-block;
  height: 35px;
  width: 35px;
  background-color: #F2C453;
  border-radius: 35px;
  padding-top: 4px;
  transition: all 0.3s;
}
.footer .footer-item:hover {
  background-color: #BF983F;
}
.footer .footer-item .footer-link {
  display: block;
  color: white;
}
.footer a, .footer a:visited {
  color: #F2C453;
}

/*-----------------------------
  Slider
-----------------------------*/
#myCarousel {
  --f-carousel-spacing: 20px;
  --f-carousel-slide-width: 100%;
  --f-progress-color: #ffca37;
}
#myCarousel span {
  width: 10px;
  height: 10px;
  background-color: #bab9b9;
}
#myCarousel .f-carousel__nav {
  top: -200px;
}
#myCarousel .f-carousel__dots {
  padding-bottom: 50px;
}

#myCarousel .f-carousel__slide {
  background: #eee;
}/*# sourceMappingURL=style.css.map */